.fa-trash-o{
    font-size:24px;
    color:red
}

.fa-trash-o:hover{
    font-size:24px;
    color:white;
  
}

.button-delete{
    border: 1px solid red;
}

.button-delete:hover{
    background-color:red;
}