.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 320px;
}

.product img {
    max-width: 100%;
    max-height: 100%;
    max-height: 250px;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price div,
.product-price button {
    text-align: center;
    flex: 1;
}

.product-price button{
    color: white;
    background-color: #404ca2;
}
.product-price button:focus{
    color: white;
    background-color: #404ca2;
}

.product-price button:hover{
    color: #fff;
    background-color: #404ca2d1;
    border-color: #404ca2;
    box-shadow: 5px 6px 18px -6px rgb(0 0 0 / 64%);
}

.product-price div {
    font-size: 2rem;
}



.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.products li {
    flex: 0 1 29rem;
    height: 47rem;
    padding: 1rem;
}

.card-border {
    box-shadow: 5px 6px 16px -6px rgb(0 0 0 / 64%);
} 

.product_details_title{
    color: white;
    background-color: #404ca2;
    padding: 13px;
}