.validation-message{

font-size: small;
}

.login-card{
    transform: translate3d(50px, 50px, 50px);
    box-shadow: 5px 6px 18px -6px rgb(0 0 0 / 64%);
}



.login-button button {
    text-align: center;
    flex: 1;
}


.login-button {
    justify-content: space-between;
    align-items: center;
}
.login-button{
    color: white;
    background-color: #404ca2;
    text-align: center;
}
.login-button:focus{
    color: white;
    background-color: #404ca2;
}

.login-button:hover{
    color: #fff;
    background-color: #404ca2d1;
    border-color: #404ca2;
    box-shadow: 5px 6px 18px -6px rgb(0 0 0 / 64%);
}




